{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% elif tasks.length === 0 %}
  <div class="dimmed light">{{ "EMPTY" | translate | safe }}</div>
{% else %}
  <header class="space-between">
    <span>{{ "TASKS" | translate }}</span>
  </header>

  <table class="small">
    <tbody>
      {% for task in tasks %}
        <tr class="normal row">
          <td class="align-center">
            {% if task.isPastDue %}
              <i class="fa fa-sm fa-exclamation-circle" style="color: #ffc2c2;"></i>
            {% endif %}
          </td>
          <td class="align-left bright">
            {{ task.name }}
          </td>
          <td class="align-right">
            {{ task.assignee | name }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
